.col-item{
	.cat_row{
		span{
			padding: 0px 10px;
			color: #ffffff;
			font-size:0.8em;
			border-radius: 5px;
		}
	}
	.course_info{
		height:140px;
    width:100%;
		a{
			display:block;
			height:40px;
			overflow:hidden;
		}
		.rating{
			span{
				background-color: #666666;
				padding: 3px 10px;
				color: #ffffff;
				font-size:0.7em;
				border-radius: 5px;
    			text-transform: uppercase;
			}
		}
	}
	.btn-details {
	    border-right: 1px solid #eaeaea;
	}
	.separator{
		position:relative;
	    padding-right:50px;
		.btn-bookmark{
			font-size:30px;
			display:block;
			position:absolute;
			width:42px;
			height:42px;
			top:6px;
			right:0;
			cursor:pointer;
			color: #989393;
			&:hover{
				color: #ef3938;
			}
			&.active{
				color: #ef3938;
				&:hover{
					color: #2d4050;
				}
			}
		}
	}
}
