.box_style_1 {
    padding: 15px 25px 5px 25px;
    box-shadow: inset 0 0 0 1px #e0e5e9;
    border: 5px solid #fbfbfc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 20px;
    background-color: #1c1c1c;
    color: #aaaaaa;
    h4{
    	color: $orange-color;
    	border-bottom: 1px solid $orange-color;
    }
    a {
	    color: #ffffff;
	    &:hover{
	    	color: $orange-color;
	    }
	}
}
