input.form-control, textarea.form-control {
  color: #333333;
  border-radius: 5px;
  margin-bottom: 10px;
}
.form-group{
  margin-bottom: 10px;
}
.styled-select {
  border-radius: 5px;
}
a.button_subscribe, .button_subscribe {
  border-radius: 5px;
}
.button_outline, a.button_outline {
  border-radius: 5px;
}
