#main_content {
    background-color: #fff;
}
#main_content_gray{
	background-color: #eee;
}
#main_content ,#main_content_gray {
    padding: 40px 0;
	h2{
	    padding-bottom:20px;
	}
	a.button_medium_outline, .button_medium_outline{
		margin:0;
    border-radius: 5px;
	}
}
#container-home{
  .btn-course-category{
    padding-bottom:30px;
    a{
      display:inline-block;
      position:relative;
      transition:all 0.1s ease-in;
      box-shadow: 0px 0px 5px #333333;
      background-color:#000;
      img{
        opacity: 0.6;
      }
      &:hover{
        box-shadow: 0px 5px 20px #000;
        img{
          opacity: 1;
        }
      }
    }
  }
}
