ul#follow_us_contacts  li{
  display:inline-block;
}
.icon-line{
  background-image: url('../img/icon-line.png');
  background-position:top center;
  background-repeat:no-repeat;
  display:inline-block;
  width:100%;
  height:34px;
  &:hover, &:focus{
    background-position:center -34px;
  }
  &:before {
    content: ' ';
  }
}
ul#follow_us li a .icon-line:hover {
  background-position:center -68px;
}
