#login-modal .modal-dialog {
  max-width: 350px;
  margin-left:auto;
  margin-right:auto;
  margin-top:55px;
  .popup_form_header{
    text-align:center;
    font-size:20px;
    padding-bottom:5px;
    color: $orange-color;
  }
}
#login-modal input[type=text], input[type=password] {
	margin-top: 10px;
}
#div-login-msg,
#div-lost-msg,
#div-register-msg {
  line-height: 28px;
  transition: all ease-in-out 500ms;
  position:relative;
  &.success {
    border: 1px solid #68c3a3;
    background-color: #c8f7c5;
    padding:10px;
  }
  &.error {
    border: 1px solid #eb575b;
    background-color: #ffcad1;
    padding:10px;
  }
}

/* Config Bootstrap */
.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .8;
}
#login-modal{
  .modal-content {
    border: 1px solid #bdc3c7;
    border-radius: 5px;
    outline: 0;
  }
  .modal-header {
    min-height: 16.43px;
    padding: 15px 15px 15px 15px;
    border-bottom: 0px;
  }
  .modal-body {
    position: relative;
    padding: 5px 15px 5px 15px;
  }
  .modal-footer {
    margin:0;
    padding: 15px 15px 15px 15px;
    text-align: left;
    border-top: 0px;
  }
  input.form-control{
    margin:0;
    margin-top: 10px;
  }
  .btn:focus,
  .btn:active:focus,
  .btn.active:focus,
  .btn.focus,
  .btn:active.focus,
  .btn.active.focus {
    outline: none;
  }
  .btn-link {
      padding: 5px 10px 0px 0px;
      color: #95a5a6;
  }
  .btn-link:hover, .btn-link:focus {
      color: #2c3e50;
      text-decoration: none;
  }
}
