body{
  font-family: "Helvetica Neue",Helvetica,Arial,Tahoma,sans-serif;
  background: #e9e9e1;
}
#top_nav a{
  opacity: 0.5;
  &.active{
    opacity: 1;
  }
}
a#logo {
  z-index: auto;
  top: -3px;
}
#login {
  border-radius: 5px;
  position:relative;
  .login-close{
    position:absolute;
    top:10px;
    right:10px;
  }
}
a{
  -webkit-transition: background-color 0.4s ease, color 0.4s ease;
  transition: background-color 0.4s ease, color 0.4s ease;
  &:hover, &:focus {
    color: $orange-color;
  }
}
.user_panel .dropdown-menu{
  left:auto;
  right:0;
}
.sf-menu {
  font-weight: normal;
  font-size:14px;
  @media (max-width: 1024px){
    li>ul>li>a{
      text-indent:20px;
    }
  }
}
a.button_top {
  background: transparent;
  color: #fff;
  font-size: 14px;
  padding: 0 16px;
  font-weight: normal;
  transition: all 0.4s ease;
  &:hover{
    background:transparent;
    color: $orange-color;
  }
}
a.button_top#apply {
  background-color: transparent;
  color: $orange-color;
  transition: all 0.4s ease;
}
a.button_medium, .button_medium {
  border-radius: 5px;
  &:hover{
    color:#fff;
  }
}
img.fit{
    width:100%;
}
.fix-content-width{
    max-width:1200px;
    margin:auto;
    position:relative;
    -webkit-box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.1), 3px 0px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.1), 3px 0px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.1), 3px 0px 5px 0px rgba(0, 0, 0, 0.1);
}
@media (max-width: 480px){
	nav {
	    background-color: #1c1c1c;
	}
  #top_nav a{
      opacity:1;
  }
	ul#top_nav li a {
	    color: #1c1c1c;
	}
	ul#top_nav li a:hover {
	    color: #f54700;
	}
}
@media (max-width: 1024px){
    a#logo {
        text-indent:-9999px;
        width:68px;
        height:50px;
        top: -9px;
        background: url(../img/logo.png) no-repeat 0 0;
        background-size:contain;
    }
    #mobnav-btn {
        top: -40px;
    }
    header {
        background-color: #1c1c1c;
        border-bottom: 1px solid #272727;
    }
    ul.user_panel a.dropdown-toggle {
        color: #ccc;
        display: block;
        height: 24px;
    }
}
.pl-sm{
    padding-left: 4px;
}
.txt-number{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
ul#top_nav {
    margin: 5px 10px 0 0;
}
#mobnav-btn:before {
  color: #f54700;
}
ul.sf-menu li a:hover {
    color: #f54700;
}
.sf-arrows > li > .sf-with-ul:focus:after, .sf-arrows > li:hover > .sf-with-ul:after, .sf-arrows > .sfHover > .sf-with-ul:after {
    border-top-color: #f54700;
}
.sf-menu ul li a {
    background: #111;
}
.sf-menu ul li a:hover {
    background: #f54700;
    color: #111;
}
.phone {
    color: #f54700;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.button_outline, a.button_outline {
    border: 2px solid #f54700;
    color: #f54700;
}
.button_outline:hover, a.button_outline:hover {
    background: #f54700;
    color: #fff;
}
a.button_medium_outline, .button_medium_outline {
    color: #f54700;
    border: 2px solid #f54700;
}
a.button_fullwidth, .button_fullwidth {
  background: #f54700;
  border-radius: 5px;
}
#nav-footer ul li a:hover, #nav-footer ul li a.active {
  color: #f54700;
}
ul#follow_us li a:hover {
  border: 2px solid #fff;
  color: #fff;
}
a.button_subscribe, .button_subscribe {
  background: #f54700;
}
a.button_subscribe:hover, .button_subscribe:hover{
	background: #ffd200;
}
footer hr {
    margin-top: 30px;
}
#newsletter{
  position:relative;
  label.error{
    right:30%;
  }
}
