$orange-color: #ff5400;
#page-my-course-list{
  .inline{
    display:inline-block;
  }
  .dropdown{
    .btn{
      border: 1px solid $orange-color;
      color: $orange-color;
      transition: all ease-in 0.3s;
      &:hover, &:focus, &:active, &.active, .open &.dropdown-toggle {
        color: #fff;
        background-color: $orange-color;
        border-color: $orange-color;
      }
    }
    .dropdown-menu{
    }
  }
  .nav-pills>li+li {
    margin-left: 3px;
    @media (min-width: 992px){
	    margin-left: 9px;
    }
  }
  .nav-pills>li>a {
    text-align:center;
    border: 2px solid $orange-color;
    color: $orange-color;
		padding:10px;
    @media (min-width: 992px){
      min-width:180px;
			padding: 10px 15px;
    }
    @media (min-width: 1200px){
      min-width:220px;
    }
    &:hover{
      color: #fff;
      background-color: $orange-color;
    }
  }
  .nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
      color: #fff;
      background-color: $orange-color;
  }
  .table.table-striped>thead>tr>th{
    font-size:15px;
  }
  .table.table-striped tr.clickable-row{
    transition: all ease-in 0.3s;
    td{
      transition: all ease-in 0.3s;
    }
    &:hover{
      cursor:pointer;
      -webkit-box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.2), 3px 0px 5px 0px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.2), 3px 0px 5px 0px rgba(0, 0, 0, 0.2);
      box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.2), 3px 0px 5px 0px rgba(0, 0, 0, 0.2);
      z-index:100;
      td{
        a{
          color: $orange-color;
        }
      }
    }
  }
}
