/* Add here all your CSS customizations */
body {
  font-family: "Open Sans", "Kanit", Arial, sans-serif;
  font-size: 15px; }

ul.nav-main > li.nav-active > a {
  box-shadow: 5px 0 0 #0088cc inset; }

ul.nav-main li a {
  font-size: 1.5rem; }

.input-daterange .input-group-addon.first-input-group {
  border-left-width: 1px; }
.form-horizontal .modal-body .form-group {
  margin-right: 0;
  margin-left: 0; }
/*# sourceMappingURL=theme-custom.css.map */
