body {
  font-family: "Helvetica Neue",Helvetica,Arial,Tahoma,sans-serif;
  background: #e9e9e1; }

#top_nav a {
  opacity: 0.5; }
  #top_nav a.active {
    opacity: 1; }

a#logo {
  z-index: auto;
  top: -3px; }

#login {
  border-radius: 5px;
  position: relative; }
  #login .login-close {
    position: absolute;
    top: 10px;
    right: 10px; }

a {
  -webkit-transition: background-color 0.4s ease, color 0.4s ease;
  transition: background-color 0.4s ease, color 0.4s ease; }
  a:hover, a:focus {
    color: #f54700; }

.user_panel .dropdown-menu {
  left: auto;
  right: 0; }

.sf-menu {
  font-weight: normal;
  font-size: 14px; }
  @media (max-width: 1024px) {
    .sf-menu li > ul > li > a {
      text-indent: 20px; } }

a.button_top {
  background: transparent;
  color: #fff;
  font-size: 14px;
  padding: 0 16px;
  font-weight: normal;
  transition: all 0.4s ease; }
  a.button_top:hover {
    background: transparent;
    color: #f54700; }

a.button_top#apply {
  background-color: transparent;
  color: #f54700;
  transition: all 0.4s ease; }

a.button_medium, .button_medium {
  border-radius: 5px; }
  a.button_medium:hover, .button_medium:hover {
    color: #fff; }

img.fit {
  width: 100%; }

.fix-content-width {
  max-width: 1200px;
  margin: auto;
  position: relative;
  -webkit-box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.1), 3px 0px 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.1), 3px 0px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.1), 3px 0px 5px 0px rgba(0, 0, 0, 0.1); }

@media (max-width: 480px) {
  nav {
    background-color: #1c1c1c; }

  #top_nav a {
    opacity: 1; }

  ul#top_nav li a {
    color: #1c1c1c; }

  ul#top_nav li a:hover {
    color: #f54700; } }
@media (max-width: 1024px) {
  a#logo {
    text-indent: -9999px;
    width: 68px;
    height: 50px;
    top: -9px;
    background: url(../img/logo.png) no-repeat 0 0;
    background-size: contain; }

  #mobnav-btn {
    top: -40px; }

  header {
    background-color: #1c1c1c;
    border-bottom: 1px solid #272727; }

  ul.user_panel a.dropdown-toggle {
    color: #ccc;
    display: block;
    height: 24px; } }
.pl-sm {
  padding-left: 4px; }

.txt-number {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }

ul#top_nav {
  margin: 5px 10px 0 0; }

#mobnav-btn:before {
  color: #f54700; }

ul.sf-menu li a:hover {
  color: #f54700; }

.sf-arrows > li > .sf-with-ul:focus:after, .sf-arrows > li:hover > .sf-with-ul:after, .sf-arrows > .sfHover > .sf-with-ul:after {
  border-top-color: #f54700; }

.sf-menu ul li a {
  background: #111; }

.sf-menu ul li a:hover {
  background: #f54700;
  color: #111; }

.phone {
  color: #f54700;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }

.button_outline, a.button_outline {
  border: 2px solid #f54700;
  color: #f54700; }

.button_outline:hover, a.button_outline:hover {
  background: #f54700;
  color: #fff; }

a.button_medium_outline, .button_medium_outline {
  color: #f54700;
  border: 2px solid #f54700; }

a.button_fullwidth, .button_fullwidth {
  background: #f54700;
  border-radius: 5px; }

#nav-footer ul li a:hover, #nav-footer ul li a.active {
  color: #f54700; }

ul#follow_us li a:hover {
  border: 2px solid #fff;
  color: #fff; }

a.button_subscribe, .button_subscribe {
  background: #f54700; }

a.button_subscribe:hover, .button_subscribe:hover {
  background: #ffd200; }

footer hr {
  margin-top: 30px; }

#newsletter {
  position: relative; }
  #newsletter label.error {
    right: 30%; }

input.form-control, textarea.form-control {
  color: #333333;
  border-radius: 5px;
  margin-bottom: 10px; }

.form-group {
  margin-bottom: 10px; }

.styled-select {
  border-radius: 5px; }

a.button_subscribe, .button_subscribe {
  border-radius: 5px; }

.button_outline, a.button_outline {
  border-radius: 5px; }

#login-modal .modal-dialog {
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 55px; }
  #login-modal .modal-dialog .popup_form_header {
    text-align: center;
    font-size: 20px;
    padding-bottom: 5px;
    color: #f54700; }

#login-modal input[type=text], input[type=password] {
  margin-top: 10px; }

#div-login-msg,
#div-lost-msg,
#div-register-msg {
  line-height: 28px;
  transition: all ease-in-out 500ms;
  position: relative; }
  #div-login-msg.success,
  #div-lost-msg.success,
  #div-register-msg.success {
    border: 1px solid #68c3a3;
    background-color: #c8f7c5;
    padding: 10px; }
  #div-login-msg.error,
  #div-lost-msg.error,
  #div-register-msg.error {
    border: 1px solid #eb575b;
    background-color: #ffcad1;
    padding: 10px; }

/* Config Bootstrap */
.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .8; }

#login-modal .modal-content {
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  outline: 0; }
#login-modal .modal-header {
  min-height: 16.43px;
  padding: 15px 15px 15px 15px;
  border-bottom: 0px; }
#login-modal .modal-body {
  position: relative;
  padding: 5px 15px 5px 15px; }
#login-modal .modal-footer {
  margin: 0;
  padding: 15px 15px 15px 15px;
  text-align: left;
  border-top: 0px; }
#login-modal input.form-control {
  margin: 0;
  margin-top: 10px; }
#login-modal .btn:focus,
#login-modal .btn:active:focus,
#login-modal .btn.active:focus,
#login-modal .btn.focus,
#login-modal .btn:active.focus,
#login-modal .btn.active.focus {
  outline: none; }
#login-modal .btn-link {
  padding: 5px 10px 0px 0px;
  color: #95a5a6; }
#login-modal .btn-link:hover, #login-modal .btn-link:focus {
  color: #2c3e50;
  text-decoration: none; }

.col-item .cat_row span {
  padding: 0px 10px;
  color: #ffffff;
  font-size: 0.8em;
  border-radius: 5px; }
.col-item .course_info {
  height: 140px;
  width: 100%; }
  .col-item .course_info a {
    display: block;
    height: 40px;
    overflow: hidden; }
  .col-item .course_info .rating span {
    background-color: #666666;
    padding: 3px 10px;
    color: #ffffff;
    font-size: 0.7em;
    border-radius: 5px;
    text-transform: uppercase; }
.col-item .btn-details {
  border-right: 1px solid #eaeaea; }
.col-item .separator {
  position: relative;
  padding-right: 50px; }
  .col-item .separator .btn-bookmark {
    font-size: 30px;
    display: block;
    position: absolute;
    width: 42px;
    height: 42px;
    top: 6px;
    right: 0;
    cursor: pointer;
    color: #989393; }
    .col-item .separator .btn-bookmark:hover {
      color: #ef3938; }
    .col-item .separator .btn-bookmark.active {
      color: #ef3938; }
      .col-item .separator .btn-bookmark.active:hover {
        color: #2d4050; }

#main_content {
  background-color: #fff; }

#main_content_gray {
  background-color: #eee; }

#main_content, #main_content_gray {
  padding: 40px 0; }
  #main_content h2, #main_content_gray h2 {
    padding-bottom: 20px; }
  #main_content a.button_medium_outline, #main_content .button_medium_outline, #main_content_gray a.button_medium_outline, #main_content_gray .button_medium_outline {
    margin: 0;
    border-radius: 5px; }

#container-home .btn-course-category {
  padding-bottom: 30px; }
  #container-home .btn-course-category a {
    display: inline-block;
    position: relative;
    transition: all 0.1s ease-in;
    box-shadow: 0px 0px 5px #333333;
    background-color: #000; }
    #container-home .btn-course-category a img {
      opacity: 0.6; }
    #container-home .btn-course-category a:hover {
      box-shadow: 0px 5px 20px #000; }
      #container-home .btn-course-category a:hover img {
        opacity: 1; }

.box_style_1 {
  padding: 15px 25px 5px 25px;
  box-shadow: inset 0 0 0 1px #e0e5e9;
  border: 5px solid #fbfbfc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 20px;
  background-color: #1c1c1c;
  color: #aaaaaa; }
  .box_style_1 h4 {
    color: #f54700;
    border-bottom: 1px solid #f54700; }
  .box_style_1 a {
    color: #ffffff; }
    .box_style_1 a:hover {
      color: #f54700; }

ul.submenu-col li a.active {
  background: #efefef;
  color: #111; }

#page-my-course-list .inline {
  display: inline-block; }
#page-my-course-list .dropdown .btn {
  border: 1px solid #ff5400;
  color: #ff5400;
  transition: all ease-in 0.3s; }
  #page-my-course-list .dropdown .btn:hover, #page-my-course-list .dropdown .btn:focus, #page-my-course-list .dropdown .btn:active, #page-my-course-list .dropdown .btn.active, .open #page-my-course-list .dropdown .btn.dropdown-toggle {
    color: #fff;
    background-color: #ff5400;
    border-color: #ff5400; }
#page-my-course-list .nav-pills > li + li {
  margin-left: 3px; }
  @media (min-width: 992px) {
    #page-my-course-list .nav-pills > li + li {
      margin-left: 9px; } }
#page-my-course-list .nav-pills > li > a {
  text-align: center;
  border: 2px solid #ff5400;
  color: #ff5400;
  padding: 10px; }
  @media (min-width: 992px) {
    #page-my-course-list .nav-pills > li > a {
      min-width: 180px;
      padding: 10px 15px; } }
  @media (min-width: 1200px) {
    #page-my-course-list .nav-pills > li > a {
      min-width: 220px; } }
  #page-my-course-list .nav-pills > li > a:hover {
    color: #fff;
    background-color: #ff5400; }
#page-my-course-list .nav-pills > li.active > a, #page-my-course-list .nav-pills > li.active > a:hover, #page-my-course-list .nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #ff5400; }
#page-my-course-list .table.table-striped > thead > tr > th {
  font-size: 15px; }
#page-my-course-list .table.table-striped tr.clickable-row {
  transition: all ease-in 0.3s; }
  #page-my-course-list .table.table-striped tr.clickable-row td {
    transition: all ease-in 0.3s; }
  #page-my-course-list .table.table-striped tr.clickable-row:hover {
    cursor: pointer;
    -webkit-box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.2), 3px 0px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.2), 3px 0px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.2), 3px 0px 5px 0px rgba(0, 0, 0, 0.2);
    z-index: 100; }
    #page-my-course-list .table.table-striped tr.clickable-row:hover td a {
      color: #ff5400; }

.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block; }

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin: 0.5em; }

.resp-sharing-button {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50px;
  transition: 0.2s ease-out;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif; }

.resp-sharing-button__icon svg {
  height: 20px;
  display: inline-block;
  vertical-align: middle; }

.resp-sharing-button span {
  padding-left: 0.4em; }

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #fff;
  fill: none; }

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none; }

.resp-sharing-button--twitter {
  background-color: #55acee; }

.resp-sharing-button--twitter:hover {
  background-color: #2795e9; }

.resp-sharing-button--pinterest {
  background-color: #bd081c; }

.resp-sharing-button--pinterest:hover {
  background-color: #8c0615; }

.resp-sharing-button--facebook {
  background-color: #3b5998; }

.resp-sharing-button--facebook:hover {
  background-color: #2d4373; }

.resp-sharing-button--tumblr {
  background-color: #35465C; }

.resp-sharing-button--tumblr:hover {
  background-color: #222d3c; }

.resp-sharing-button--reddit {
  background-color: #5f99cf; }

.resp-sharing-button--reddit:hover {
  background-color: #3a80c1; }

.resp-sharing-button--google {
  background-color: #dd4b39; }

.resp-sharing-button--google:hover {
  background-color: #c23321; }

.resp-sharing-button--linkedin {
  background-color: #0077b5; }

.resp-sharing-button--linkedin:hover {
  background-color: #046293; }

.resp-sharing-button--email {
  background-color: #0084FF; }

.resp-sharing-button--email:hover {
  background-color: #0077e6; }

.resp-sharing-button--xing {
  background-color: #1a7576; }

.resp-sharing-button--xing:hover {
  background-color: #114c4c; }

.resp-sharing-button--whatsapp {
  background-color: #25D366; }

.resp-sharing-button--whatsapp:hover {
  background-color: #1da851; }

.resp-sharing-button--facebook {
  background-color: #3b5998;
  border-color: #3b5998; }

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
  background-color: #2d4373;
  border-color: #2d4373; }

.resp-sharing-button--twitter {
  background-color: #55acee;
  border-color: #55acee; }

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  background-color: #2795e9;
  border-color: #2795e9; }

.resp-sharing-button--email {
  background-color: #0084FF;
  border-color: #0084FF; }

.resp-sharing-button--email:hover
.resp-sharing-button--email:active {
  background-color: #0077e6;
  border-color: #0077e6; }

.resp-sharing-button--linkedin {
  background-color: #0077b5;
  border-color: #0077b5; }

.resp-sharing-button--linkedin:hover,
.resp-sharing-button--linkedin:active {
  background-color: #046293;
  border-color: #046293; }

ul#follow_us_contacts li {
  display: inline-block; }

.icon-line {
  background-image: url("../img/icon-line.png");
  background-position: top center;
  background-repeat: no-repeat;
  display: inline-block;
  width: 100%;
  height: 34px; }
  .icon-line:hover, .icon-line:focus {
    background-position: center -34px; }
  .icon-line:before {
    content: ' '; }

ul#follow_us li a .icon-line:hover {
  background-position: center -68px; }

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden; }

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/*# sourceMappingURL=color_scheme.css.map */
