.table-ticket-info td{
  font-size:15px;
  color:#707070;
  padding:5px 10px;
}
.ticket-header{
  text-align:center;
  border-bottom:1px solid #ddd;
  padding:10px 0 20px 0;
  color: #707070;
}
.content-header{
  padding-top:10px;
}
.border-table{
  border: 2px solid #000;
  border-spacing: 0px;
  border-collapse: collapse;
}
.border-table-header{
  background-color: #000;
  color: #fff;
  font-size:20px;
  padding:10px 20px;
}
.border-1-px{
  border: 1px solid #000;
}
.seperate-table{
  border-top:1px dashed #aaa;
  padding:10px 0 15px 0;
  text-align:center;
  font-size:15px;
  color: #aaa;
}
.div-padding-bottom{
  padding:0 10px;
  padding-bottom:10px;
}
.text_ps{
  color:#666;
  padding-top:10px;
  text-align:center;
  text-align:left;
}
.table-ticket-info td{
  color: #333;
  line-height: 2em;
  font-size:16px;
}
